button {
    display: inline-block;
    margin-top: 1rem;
    padding: 0.7rem 1.5rem;
    background-color: #00bfff;
    color: #000;
    font-weight: bold;
    border-radius: 8px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

button:hover {
    transform: scale(1.05);
}

ul {
    list-style: none;
    padding-left: 0;
}

.container img {
    width: 180px;
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto 1.5rem auto;
    min-width: 150px;
}