<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title data-i18n="template_description">Plantilla de Spring Boot Definitiva</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"/>
    <link href="styles.css" rel="stylesheet">
    <link href="../assets/css/common.css" rel="stylesheet">
</head>
<body>
<header>
    <div class="logo">
        <a href="https://davinchicoder.dev">DavinchiCoder</a>
    </div>

    <div class="menu-toggle" onclick="toggleMenu()">
        <span></span>
        <span></span>
        <span></span>
    </div>

    <nav class="nav-links" id="nav">
        <a data-i18n="home" href="https://davinchicoder.dev">INICIO</a>
        <a data-i18n="templates" href="https://davinchicoder.dev/templates">PLANTILLAS</a>
        <a data-i18n="consultancies" href="https://davinchicoder.dev/consultancies">ASESORÍAS</a>
        <a data-i18n="newsletter" href="https://davinchicoder.dev/newsletter">NEWSLETTER</a>
        <a data-i18n="gadgets" href="https://davinchicoder.dev/gadgets">PERIFÉRICOS</a>
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9a/Flag_of_Spain.svg/1280px-Flag_of_Spain.svg.png"
             alt="Español" class="flag" onclick="changeLanguage('es')">
        <img src="https://upload.wikimedia.org/wikipedia/commons/a/a4/Flag_of_the_United_States.svg"
             alt="English" class="flag" onclick="changeLanguage('en')">
    </nav>
</header>

<main>
    <div class="content">
        <h1 data-i18n="template_description">Plantilla de Spring Boot Definitiva</h1>

        <p data-i18n="info">
            Esta plantilla de Spring Boot es una base preconfigurada, robusta y segura para construir aplicaciones
            modernas. Incluye:
        </p>
        <ul>
            <li data-i18n="cli">✅ <strong>Aplicación de terminal</strong> para autogenerarte código en otros proyectos
                de Spring Boot
            </li>
            <li data-i18n="security">✅ <strong>Spring Security</strong> para protección avanzada con JWT
            </li>
            <li data-i18n="database">✅ <strong>Spring Data JPA</strong> para manejo eficiente de bases de datos como
                PostgreSQL o MySQL
            </li>
            <li data-i18n="cache">✅ <strong>Redis</strong> para manejo de caché
            </li>
            <li data-i18n="kafka">✅ <strong>Kafka</strong> para mensajería asíncrona
            </li>
            <li data-i18n="grafana">✅ <strong>Grafana Stack</strong> para monitoreo de rendimiento
            </li>
            <li data-i18n="testing">✅ <strong>Test unitarios y de integración</strong> para un desarrollo ágil y
                eficiente
            </li>
            <li data-i18n="documentation">✅ <strong>OpenAPI con Swagger</strong> para mostrar fácilmente la
                documentación de tu API
            </li>
            <li data-i18n="utilities">✅ <strong>Múltiples funciones de utilidad</strong> como Mapstruct, Spring
                Devtools, Lombok y más
            </li>
        </ul>

        <a data-i18n="look-video" href="https://www.youtube.com/watch?v=VIDEO_ID" target="_blank">
            Mira el video donde hablo sobre esta plantilla y cómo usarla.
        </a>

        <div class="github-box">
            <p data-i18n="connect-github" style="font-size: 1.25rem; font-weight: bold;">Conectar con GitHub</p>
            <p data-i18n="proceed-payment">Autentícate con tu cuenta de GitHub para proceder con el pago de la
                plantilla. ¡Es rápido y sencillo!</p>
            <button data-i18n="connect-github" onclick="connectToGitHub()" class="button"><i class="fab fa-github"></i>
                CONECTAR
            </button>
        </div>

        <p id="status"></p>
    </div>
</main>
<script src="script.js"></script>
<script src="../assets/js/common.js"></script>
</body>
</html>
